*{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
    box-sizing: border-box;
    background: #0a678c;
    background: linear-gradient(45deg, rgba(10, 103, 140, 1) 0%, rgba(0, 25, 79, 1) 100%);
    overflow: hidden;
    padding:0 5vw;
}
.count{
    text-align: center;
    padding: 30px;
    color: #fff;
}
.description{
    
    color: #bbb;
}
.text-area-wrapper{
    max-width: 1000px;
    width: 100%;
    margin:calc(50vh - 300px) auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
textarea{
    grid-column: 1 / -1;
    height: 500px;
    /* width:100%; */
    /* display: block; */
    border-radius: 20px;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    outline: none;
    border: 0;
    resize: none;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .2);; */
}

header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: -70px;
}

header h1{
    
    color: #fff;
    font-size: 2em;
}
header h3{
    
    color: #bbb;
    font-size: 1.3em;
}

textarea::placeholder{
    color: #bbb;
    font-family: 'Courier New', Courier, monospace;
}

